<div class="component">
  <div>
    <h2 class="h2 subheader">{{title}}</h2>

    <form action="/login" method="post" style="text-align: left">
      <div class="form-group">
        <label>E-mail</label>
        <input name="email"
               type="text"
               class="form-control col-sm-6"
               placeholder="E-mail"
               required="required">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input name="password"
               type="password"
               class="form-control col-sm-6"
               placeholder="Password"
               aria-label="Password"
               aria-describedby="basic-addon1"
               required="required">
      </div>
        <input class="btn btn-primary" type="submit" value="Login">
      </form>
    <br>
    <a href="/register">
      <label>Not registered? Please register here!</label>
    </a>
  </div>

</div>
