.chat {
  border-radius: 1em;
  padding-top: 0.5em !important;
  height: 30em;
}

.chat-header {
  color: ghostwhite;
}

.chat-box {
  max-height: 25em;
  background-color: ghostwhite;
  border-radius: 1em;
  display: block;
  overflow: scroll;
  bottom: 0;
}

.chat-text {
  padding-left: 0.5em;
  text-align: left;
}

.chat-input {
  width: 50em;
  bottom: 0.5em;
}
