<div class="component">

  <form action="/logout" method="get" style="float: right;">
    <button class="btn btn-danger" type="submit">Logout</button>
  </form>

  <app-chatrooms></app-chatrooms>

</div>
