.header {
  margin: 2em;
  text-align: center;
  color: #F0F0F0;
}

.main {
  background-color: #4D97C0;
}

.subheader {
  margin: 1em;
  text-align: center;
  color: gainsboro;
}

.component {
  padding: 2em;
  background-color: azure;
}
