<div class="component">
  <div>
    <h2 class="h2 subheader">Register</h2>

    <form action="/register" method="post" style="text-align: left">
      <div class="form-group">
        <label>E-mail</label>
        <input name="email" type="text" class="form-control col-sm-6" placeholder="E-mail" required="required">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input name="username" type="text" class="form-control col-sm-6" placeholder="Username" required="required">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" class="form-control col-sm-6" placeholder="Password" required="required">
      </div>
      <div class="form-group">
        <label>Confirm password</label>
        <input name="passwordconf" type="password" class="form-control col-sm-6" placeholder="Password" required="required">
      </div>
      <input class="btn btn-primary" type="submit" value="Register">
    </form>
    <br>
  </div>

</div>
