<div>

  <h2 class="h2">Welcome {{user}}</h2>

  <h3 class="h3" style="text-align: left">Choose or create a chatroom</h3>

  <h5 class="h5" style="text-align: left">Create a chatroom</h5>
    <form style="text-align: left">

    <div class="form-group">
      <label>Name</label>
      <input #name
             type="text"
             class="form-control col-sm-6"
             placeholder="Name for chatroom"
             required="required">
    </div>

      <input class="btn btn-primary" type="button" value="Create" (click)="createChatroom(name.value)"/>
  </form>

  <br>

  <div style="text-align: left">
    <h5 class="h5" >Choose a chatroom</h5>
    <div class="colomn">
    <button type="button" class="btn btn-link" *ngFor="let room of chatrooms" (click)="getChatroom(room.name)">
      {{room.name}}
    </button>
    </div>

    <div class="chat">
      <h5 class="h5" >Current chatroom</h5>
      <h6 class="h6">{{room}}</h6>

      <div class="chat-box">
        <p class="chat-text" *ngFor="let message of chatmessages">
          <!--{{message.name.user}} : {{message.name.message}}-->
          {{message.author}} : {{message.message}}
        </p>

      </div>
        <input #chatmessage
               type="text"
               placeholder="Chatmessage"
               class="chat-input"
               required="">
        <input value="Send message"
               class="btn btn-primary"
               type="button"
               (click)="sendMessage(chatmessage.value)">
      </div>
  </div>

</div>
